
	<hr class="uk-divider-icon">

	<div class="uk-container">
		<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
			<div>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Introduction</h3>
		            <p>
				         <% if @user_resume_introductions == nil %>
						 	<h3> 
						 		<a <%= link_to 'Incomplete', new_introduction_path %> </a>
						 	</h3>
						 	<% else %>
						 	<span uk-icon="file-edit">
						 	 	<a <%= link_to "Edit", edit_introduction_path(:id => @current_user.id) %></a> 
						 	</span> 
						 	<span uk-icon="trash">
						 		<a  <%= link_to "Remove", introduction_path(:id => @current_user.id), method: :delete, data: { confirm: "Are you sure?" } %></a>
						 	</span>
						 <% end %>
		            </p>
		        </div>
		    </div>

		    <div>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Objective</h3>
		            <p>
				         <% if @user_resume_objective == nil %>
						 	<h3> 
						 		<a <%= link_to 'Incomplete', new_objective_path %> </a>
						 	</h3>
						 	<% else %>
						 	<span uk-icon="file-edit">
						 	 	<a <%= link_to "Edit", edit_objective_path(:id => @current_user.id) %></a> 
						 	</span> 
						 	<span uk-icon="trash">
						 		<a  <%= link_to "Remove", objective_path(:id => @current_user.id), method: :delete, data: { confirm: "Are you sure?" } %></a>
						 	</span>
						 <% end %>
		            </p>
		        </div>
		    </div>

		   <!--  <div>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Skills</h3>
		      		<p>
						<% if @user_resume_skills == nil %>
					 		<h3> 
					 			<a <%= link_to 'Incomplete', new_skill_path %> </a>
					 		</h3>
					 	<% else @user_resume_skills == @skills %>
					 		 <a <%= link_to 'add more', skills_path(:id => @current_user.id) %> </a>|
					 		 <span uk-icon="file-edit">
							 	<a <%= link_to "Edit", edit_skill_path(:id => @current_user.id) %></a> 
					 	 	 </span>
					 	 	 <span uk-icon="trash">
								<a  <%= link_to "Remove", skill_path(:id => @current_user.id), method: :delete, data: { confirm: "Are you sure?" } %></a>
					 		 </span>
					 	<% end %>
				    </p>
		        </div>
		    </div> -->

		     <div>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Skills</h3>
		      		<p>
						<% if @user_resume_reskills.length == 0 %>
					 		<h3> 
					 			<a <%= link_to 'Incomplete', new_reskill_path %> </a>
					 		</h3>
					 	<% else %>
					 		 <a <%= link_to 'Add more', new_reskill_path %> </a> |
							 <span uk-icon="file-edit">
							 	<a <%= link_to "Edit", reskills_path(:id => @current_user.id) %></a> 
					 	 	 </span>
					 	 	 <span uk-icon="trash">
					 	 	 	<a  <%= link_to "Remove", reskill_path(:id => @current_user.id), method: :delete, data: { confirm: "Are you sure?" } %></a>
					 		 </span>
					 	<% end %>
				    </p>
		        </div>
		    </div>

		    <div>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Experiences</h3>
		      		<p>
						<% if @user_resume_experiences.length == 0 %>
					 		<h3> 
					 			<a <%= link_to 'Incomplete', new_experience_path %> </a>
					 		</h3>
					 	<% else %>
					 		 <a <%= link_to 'Add more', new_experience_path %> </a> |
							 <span uk-icon="file-edit">
							 	<a <%= link_to "Edit", experiences_path(:id => @current_user.id) %></a> 
					 	 	 </span>
					 	 	 <span uk-icon="trash">
					 	 	 	<a  <%= link_to "Remove", experiences_path(:id => @current_user.id), method: :delete, data: { confirm: "Are you sure?" } %></a>
					 		 </span>
					 	<% end %>
				    </p>
		        </div>
		    </div>

		    <div>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Projects</h3>
		      		<p>
						<% if @user_resume_otherprojects.length == 0 %>
					 		<h3> 
					 			<a <%= link_to 'Incomplete', new_otherproject_path %> </a>
					 		</h3>
					 	<% else %>
					 		 <a <%= link_to 'Add more', new_otherproject_path %> </a> |
					 		 <span uk-icon="file-edit">
							 	<a <%= link_to "Edit", otherprojects_path(:id => @current_user.id) %></a> 
					 	 	 </span>
					 	 	 <span uk-icon="trash">
					 	 	 	<a  <%= link_to "Remove", otherproject_path(:id => @current_user.id), method: :delete, data: { confirm: "Are you sure?" } %></a>
					 		 </span>
					 	<% end %>
				    </p>
		        </div>
		    </div>
			
			<div>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Education</h3>
		      		<p>
						<% if @user_resume_education.length == 0 %>
					 		<h3> 
					 			<a <%= link_to 'Incomplete', new_education_path %> </a>
					 		</h3>
					 	<% else %>
					 		 <a <%= link_to 'Add more', new_education_path %> </a> |
							 <span uk-icon="file-edit">
							 	<a <%= link_to "Edit", educations_path(:id => @current_user.id) %></a> 
					 	 	 </span>
					 	 	 <span uk-icon="trash">
					 	 	 	<a <%= link_to "Remove", education_path(:id => @current_user.id), method: :delete, data: { confirm: "Are you sure?" } %></a>
					 		 </span>
					 	<% end %>
				    </p>
		        </div>
		    </div>
		</div>
	</div><br>
	<a class="uk-button uk-button-primary" <%= link_to 'View Your Full Resume', user_path(:id => @current_user.id) %> </a>

<br>
<strong>Note :- </strong> Click me after filled up the Introduction and Objective section. 
<hr class="uk-divider-icon">
<div class="uk-container uk-background-muted uk-padding uk-panel">
	<div class="uk-text-center" uk-grid>
    
    <div class="uk-width-expand ">
        <div class="uk-card  uk-card-body uk-background-muted">
        	I found an article about how to write a professional resume on Resume Genius. Then I discovered the application. It's useful and simple to use, and It's a free resume builder, Go for it.
        </div>
    </div>
    <div class="uk-width-auto">
    	<span uk-icon="quote-right"></span>
        <div class="uk-card  uk-card-body uk-background-muted">David Patlut</div>
    </div>

</div>



