	<div class="uk-container uk-animation-slide-left">
		<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
			<div>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title"><strong style="color: #f0506e;">B</strong>ASIC 	<strong style="color: #f0506e;">I</strong>NFO</h3>
		            <p>
				         <% if @user_resume_introductions == nil %>
						 	<h3 class="uk-animation-toggle"> 
						 		<a class="uk-button uk-button-primary uk-animation-shake" <%= link_to 'START', new_introduction_path %> </a>
						 	</h3>

						 	<% else %>
						 	
						 	<span uk-icon="file-edit">
						 	 	<a <%= link_to "Edit", edit_introduction_path(:id => @current_user.id) %></a> 
						 	</span> 
						 	<span uk-icon="trash">
						 		<a  <%= link_to "Remove", introduction_path(:id => @current_user.id), method: :delete, data: { confirm: "Are you sure?" } %></a>
						 	</span>
						 	<span  uk-icon="icon: check; ratio: 3.5" style="color: MediumSeaGreen;"></span>
						 <% end %>
		            </p>
		        </div>
		    </div>

		    <div>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title"><strong style="color: #f0506e;">S</strong>UMMARY</h3>
		            <p>
				         <% if @user_resume_objective == nil %>
						 	<h3 class="uk-animation-toggle"> 
						 		<a class="uk-button uk-button-primary uk-animation-shake" <%= link_to 'START', new_objective_path %> </a>
						 	</h3>
						 	<% else %>
						 	<span uk-icon="file-edit">
						 	 	<a <%= link_to "Edit", edit_objective_path(:id => @current_user.id) %></a> 
						 	</span> 
						 	<span uk-icon="trash">
						 		<a  <%= link_to "Remove", objective_path(:id => @current_user.id), method: :delete, data: { confirm: "Are you sure?" } %></a>
						 	</span>
						 	<span  uk-icon="icon: check; ratio: 3.5" style="color: MediumSeaGreen;"></span>
						 <% end %>
		            </p>
		        </div>
		    </div>


		     <div>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title"><strong style="color: #f0506e;">S</strong>KILLS</h3>
		      		<p>
						<% if @user_resume_reskills.length == 0 %>
					 		<h3 class="uk-animation-toggle"> 
						 		<a class="uk-button uk-button-primary uk-animation-shake" <%= link_to 'START', new_reskill_path %> </a>
					 		</h3>
					 	<% else %>
					 		 <a <%= link_to 'Add more', new_reskill_path %> </a> |
							 <span uk-icon="file-edit">
							 	<a <%= link_to "Edit", reskills_path(:id => @current_user.id) %></a> 
					 	 	 </span>
					 	 	 <span  uk-icon="icon: check; ratio: 3.5" style="color: MediumSeaGreen;"></span>
					 	<% end %>
				    </p>
		        </div>
		    </div>

		   <div>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title"><strong style="color: #f0506e;">E</strong>XPERIENCES</h3>
		      		<p>
						<% if @user_resume_experiences.length == 0 %>
					 		<h3 class="uk-animation-toggle"> 
						 		<a class="uk-button uk-button-primary uk-animation-shake"<%= link_to 'START', new_experience_path %> </a>
					 		</h3>
					 	<% else %>
					 		 <a <%= link_to 'Add more', new_experience_path %> </a> |
							 <span uk-icon="file-edit">
							 	<a <%= link_to "Edit", experiences_path(:id => @current_user.id) %></a> 
					 	 	 </span>
					 	 	 <span  uk-icon="icon: check; ratio: 3.5" style="color: MediumSeaGreen;"></span>
					 	<% end %>
				    </p>
		        </div>
		    </div>

		   <div>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title"><strong style="color: #f0506e;">P</strong>ROJECTS</h3>
		      		<p>
						<% if @user_resume_otherprojects.length == 0 %>
					 		<h3 class="uk-animation-toggle"> 
						 		<a class="uk-button uk-button-primary uk-animation-shake" <%= link_to 'START', new_otherproject_path %> </a>
					 		</h3>
					 	<% else %>
					 		 <a <%= link_to 'Add more', new_otherproject_path %> </a> |
					 		 <span uk-icon="file-edit">
							 	<a <%= link_to "Edit", otherprojects_path(:id => @current_user.id) %></a> 
					 	 	 </span>
					 	 	 <span  uk-icon="icon: check; ratio: 3.5" style="color: MediumSeaGreen;"></span>
					 	<% end %>
				    </p>
		        </div>
		    </div>
			
			<div>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title"><strong style="color: #f0506e;">E</strong>DUCATIONS</h3>
		      		<p>
						<% if @user_resume_education.length == 0 %>
					 		<h3 class="uk-animation-toggle"> 
						 		<a class="uk-button uk-button-primary uk-animation-shake" <%= link_to 'START', new_education_path %> </a>
					 		</h3>
					 	<% else %>
					 		 <a <%= link_to 'Add more', new_education_path %> </a> |
							 <span uk-icon="file-edit">
							 	<a <%= link_to "Edit", educations_path(:id => @current_user.id) %></a> 
					 	 	 </span>
					 	 	 <span  uk-icon="icon: check; ratio: 3.5" style="color: MediumSeaGreen;"></span>
					 	<% end %>
				    </p>
		        </div>
		    </div>

		    <% if @user_resume_sections.length >= 1 %>
		    	<% @user_resume_sections.each do |t| %>
		     		<div>
			        	<div class="uk-card uk-card-default uk-card-body">
			        	
				            <h3 class="uk-card-title uk-text-uppercase"><%= t.name %></h3>
				      		<p>
								<% if t.subsections.length == 0 %>
							 		<h3 class="uk-animation-toggle"> 
								 		<a class="uk-button uk-button-primary uk-animation-shake"<%= link_to 'START', new_section_subsection_path(t) %> </a>
								 		 <a class="uk-button uk-button-primary uk-animation-shake" <%= link_to "Remove", section_path(t), method: :delete, data: { confirm: "Are you sure?" } %></a>
							 		</h3>
							 	<% else %>
							 		 <a <%= link_to 'Add more', new_section_subsection_path(t) %> </a> |
									 <span uk-icon="file-edit">
									 	<a <%= link_to "Edit", subsections_path(:id => @current_user.id) %></a> 
							 	 	 </span>
							 	 	 <span  uk-icon="icon: check; ratio: 3.5" style="color: MediumSeaGreen;"></span>
							 	<% end %>
						    </p>
			        	</div>
			        </div>
			    <% end %>
		    <% end %>
		</div>
	</div><br>
<br>

<a class="uk-button uk-button-primary myButton uk-padding uk-padding-remove-top uk-padding-remove-bottom" <%= link_to 'Add Section', new_section_path(:id => @current_user.id) %> </a>

<br><br> 

<!-- <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid style="line-height: 1;"> -->
	<% if @user_resume_introductions && @user_resume_objective != nil %>
		<div class="uk-animation-toggle">
			<a class="uk-button uk-button-primary myButton uk-padding uk-padding-remove-top uk-padding-remove-bottom" <%= link_to 'Preview Template 1', user_path(:id => @current_user.id) %> </a>
			<a class="uk-button uk-button-primary myButton uk-padding uk-padding-remove-top uk-padding-remove-bottom " <%= link_to 'Preview Template 2', newtemplate_path(:id => @current_user.id) %> </a>
		</div><br>
		<% else %>
		<strong style="color: #1e87f0;">Note</strong> :- Fill out <strong style="color: #f0506e;">B</strong>asic<strong style="color: #f0506e;">I</strong>nfo and <strong style="color: #f0506e;">S</strong>ummary section to <strong style="color: #f0506e;">V</strong>iew your <strong style="color: #f0506e;">R</strong>esume.<br>
	<% end %>
	<% if @user_resume_introductions && @user_resume_objective && @user_resume_reskills.length && @user_resume_experiences.length && @user_resume_otherprojects.length && @user_resume_education.length != 0 %>
		
		<div class="uk-animation-toggle">
 			<a class="uk-button uk-button-primary myButton" <%= link_to "Download Template 1", users_path(:id => @current_user.id, format: 'pdf') %></a>
 			<a class="uk-button uk-button-primary myButton" <%= link_to "Download Template 2", newtemplate_path(:id => @current_user.id, format: 'pdf') %></a>
		</div>
		<% else %>
		<strong style="color: #1e87f0;">Note</strong> :- Fill out <strong style="color: #f0506e;">All</strong> the sections for <strong style="color: #f0506e;">D</strong>ownload your <strong style="color: #f0506e;">R</strong>esume.
	<% end %>



<br>
<hr class="uk-divider-icon">
<div class="uk-container">
	<h4 class="uk-text-center">
		<strong style="color: #f0506e;">R</strong>ecent <strong style="color: #f0506e;">R</strong>eview
	</h4><br>
</div>
<div class="uk-container uk-background-muted uk-padding uk-panel">
	<div class="uk-text-center" uk-grid>
    
	    <div class="uk-width-expand ">
	        <div class="uk-card  uk-card-body uk-background-muted">
	        	I found an article about how to write a professional resume on Resume Genius. Then I discovered the application. It's useful and simple to use, plus It's a free resume builder, Go for it.
	        </div>
	        <a style="color: #f0506e;" <%= link_to 'Send Review', review_path %> </a>

	    </div>
	    <div class="uk-width-auto">
	    	<span uk-icon="quote-right"></span>
	        <div class="uk-card  uk-card-body uk-background-muted"><strong style="color: #f0506e;">D</strong>avid <strong style="color: #f0506e;" >P</strong>atlut!</div>
	    </div>
	</div>
</div>
<br><br><br>

<nav class="uk-navbar" uk-navbar>

    <div class="uk-navbar-left ">
        <ul class="uk-navbar-nav uk-text-capitalize">
             <li>
                 <div>
                      Designed & Developed by
                      <div class="uk-navbar-subtitle uk-text-center"><strong style="color: #f0506e;" >Z</strong>akwan <strong style="color: #f0506e;">B</strong>haiyat</div>
                 </div>
            </li>
        </ul>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav uk-text-capitalize">           
            <li>&copy; 2018 ResumeGenius.com </a></li>
        </ul>
    </div>
</nav>
<br>

