<div class="uk-container">

<article class="uk-article">
    <% @skills.each do |t| %>
    <h1 class="uk-article-title" style="color: lightblue;><a class="uk-link-reset">Skills</a></h1>


    <ul class="uk-grid uk-grid-width-1-5">
    	<li><%= t.skill1 %></li>
    	<li><%= t.skill2 %></li>
    	<li><%= t.skill3 %></li>
    	<li><%= t.skill4 %></li>
	</ul>

	<ul class="uk-grid uk-grid-width-1-5">
    	<li><%= t.skill5 %></li>
    	<li><%= t.skill6 %></li>
    	<li><%= t.skill7 %></li>
    	<li><%= t.skill8 %></li>
	</ul>

	<ul class="uk-grid uk-grid-width-1-5">
    	<li><%= t.skill9 %></li>
    	<li><%= t.skill10 %></li>
    	<li><%= t.skill11 %></li>
    	<li><%= t.skill12 %></li>
	</ul>

	<ul class="uk-grid uk-grid-width-1-5">
    	<li><%= t.skill13 %></li>
    	<li><%= t.skill14 %></li>
    	<li><%= t.skill15%></li>
    	<li><%= t.skill16 %></li>
	</ul>

<!-- 
        <a <%= link_to "Edit", edit_introduction_path(t) %></a><br>
        <a  <%= link_to "Remove", introductions_path(t), method: :delete, data: { confirm: "Are you sure?" } %></a> -->
    <% end %>
</article>  
</div>