<h1 class="uk-article-title" style="color: lightblue;"><a class="uk-link-reset"> Introductions</a></h1>
<div class="uk-container uk-background-muted uk-padding uk-panel" style="height: 230px;">
    
        <div class="uk-card uk-card-body">
            
          <h3 class="uk-card-title uk-align-center" style="text-align: center; font-size: 34px;" >
            <% @introductions.each do |t| %>

              
              <%= t.name %>
              <p class="uk-h4" style="color:red;"><%= t.title %></p>
            
              <div class="uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
                  <div>
                      <span uk-icon="icon: info"></span>
                      <span class="uk-text-left uk-h5"><%= t.address %></span>
                  </div>
                  <div>
                      <span uk-icon="icon: phone"></span>
                      <span class="uk-text-center uk-h5"><%= t.phone %></span>
                  </div>
                  <div>
                      <span uk-icon="icon: mail"></span>
                      <span class="uk-text-right uk-h5"><%= t.email %></span>
                  </div>
              </div>
          </h3>
        </div>
     <% end %>