
<div class= "uk-container uk-background-muted uk-padding uk-panel" style="padding: 50px;margin-top: 100px;">
    <h2> Add your intro here </h2><br>
        <%= form_for @introductions do |f| %>

            <%= f.hidden_field :resume_id, :value => @user_resume %>
             
            <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder="Your Name"
                <%= f.text_field :name, :required => true %> 
            </div>
            <br>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder="Title ex. Web Developer"
                <%= f.text_field :title, :required => true %> 
            </div>
            <br>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder="Address ex. New York,NY"
                <%= f.text_field :address, :required => true %> 
            </div>
            <br>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder="Phone Number"
                 <%= f.text_field :phone, :required => true %>
            </div>
            <br>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder="Email Address"
                  <%= f.text_field :email, :required => true %>
            </div>
            <br>

            <span style="color: red;"> This is optional info! </span>
            <br>
             <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder="linkdin profile"
                  <%= f.text_field :linkdin %>
            </div>
            <br>
             <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder="Portfolio Link"
                  <%= f.text_field :portfolio %>
            </div>
            <br>
             <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder="Github Link"
                  <%= f.text_field :github %>
            </div>
            <br>
             <button class="uk-button uk-button-primary"
                 <%= submit_tag "Add" %> ADD
             </button>
        <% end %>
        
</div>
