
<div class= "uk-container uk-background-muted uk-padding uk-panel" style="padding: 50px;margin-top: 150px;">
    <h2> Add your Project here </h2><br>
        <%= form_for @projects do |f| %>

            <%= f.hidden_field :resume_id, :value => @user_resume %>

            <label class="uk-form-label" for="form-stacked-text">
               Project related to company
            </label>
            <br>
            <select 
                      <%= f.collection_select :experience_id, Experience.all, :id, :company, prompt: true, :required => true %> 
            </select>
             
             <br>
        
            <label class="uk-form-label" for="form-stacked-text">
                Project Name
            </label>
            <div class="uk-form-controls">
                <%= f.text_field :name %>
            </div>

            <label class="uk-form-label" for="form-stacked-text">
                Project Description
            </label>
            <div class="uk-form-controls">
                <%= f.text_field :description %>
            </div>


            <div class="waves-effect waves-light btn">
              <%= submit_tag "Add" %>
            </div>



        <% end %>
        
</div>
