
<div class= "uk-container uk-background-muted uk-padding uk-panel" style="padding: 50px;margin-top: 150px;">
    <h2> Add your Experiance here </h2><br>
        <%= form_for @experiences do |f| %>

            <%= f.hidden_field :resume_id, :value => @user_resume %>
             
        
            <label class="uk-form-label" for="form-stacked-text">
                Job Title
            </label>
            <div class="uk-form-controls">
                <%= f.text_field :job_title %>
            </div>

            <label class="uk-form-label" for="form-stacked-text">
                Company Name
            </label>
            <div class="uk-form-controls">
                <%= f.text_field :company %>
            </div>

            Duration<br>
            <label class="uk-form-label" for="form-stacked-text">
                Start Date
            </label>
            <div class="uk-form-controls">
                <%= f.date_field :startdate %>
            </div>
            <label class="uk-form-label" for="form-stacked-text">
               End Date
            </label>
            <div class="uk-form-controls">
                <%= f.date_field :enddate %>
            </div>

            <label class="uk-form-label" for="form-stacked-text">
                Discription
            </label>
            <div class="uk-form-controls">
                <%= f.text_field :description %>
            </div>

            <div class="waves-effect waves-light btn">
              <%= submit_tag "Add" %>
            </div>



        <% end %>
        
</div>
