
<div class= "uk-container uk-background-muted uk-padding uk-panel" style="padding: 50px;margin-top: 150px;">
    <h2> Add your Experiance here </h2><br>
        <%= form_for @experiences do |f| %>

            <%= f.hidden_field :resume_id, :value => @user_resume %>
                
            
            <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder="Job Title"
                <%= f.text_field :job_title, :required => true %> 
            </div>
            <br>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder="Company Name"
                <%= f.text_field :company, :required => true %>
            </div>
            <br>
            Duration<br>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder="Start Date (ex. June-2016)"
                <%= f.text_field :startdate, :required => true %>
            </div>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder="End Date (ex. Dec-2016) or Present"
                <%= f.text_field :enddate, :required => true %>
            </div>
            <br>
            Describe about your job
            <div class="uk-margin">
                <textarea class="uk-textarea" rows="5" placeholder="Describe your job"
                    <%= f.text_field :description, :required => true %>
                </textarea>
            </div>

             <button class="uk-button uk-button-default"
                 <%= submit_tag "Add" %> ADD
             </button>



        <% end %>
        
</div>
