
<div class= "uk-container uk-background-muted uk-padding uk-panel" style="padding: 50px;margin-top: 150px;">
    <h2> Edit your Education here </h2><br>
        <%= form_for @user_resume_education do |f| %>

            <%= f.hidden_field :resume_id, :value => @user_resume %>

            College Name
            <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder="Name of the college"
                <%= f.text_field :name, :required => true %>
            </div>
            
            Degree Name
            <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder="ex. Bachelor of Technology (B.Tech.)"
                <%= f.text_field :degree, :required => true %>
            </div>

            Graduation Year (ex. Feb,2018)
            <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder="ex. Feb,2018"
                <%= f.text_field :year_graduated, :required => true %>
            </div>

             
             <br>
            <button class="uk-button uk-button-default"
                 <%= submit_tag "Add" %> UPDATE
             </button>
    
        <% end %>
        
</div>
