<div class= "uk-container uk-background-muted uk-padding uk-panel" style="padding: 50px;margin-top: 150px;">
    <h2> Add your skills here </h2><br>
        <%= form_for @reskills do |f| %>

             <%= f.hidden_field :resume_id, :value => @user_resume %>

            <label class="uk-form-label" for="form-stacked-text">
               Skill Name
            </label>

            <br>
            <select class="uk-select uk-form-width-medium" 
                      <%= f.collection_select :skill_id, Skill.all, :id, :name, prompt: true, :required => true %> 
            </select>
             
             <br><br>
            <button class="uk-button uk-button-primary"
                 <%= submit_tag "Add" %> ADD
            </button>

           <a class="uk-button" <%= link_to 'Back', users_path(:id => @current_user.id) %> </a>

        <% end %>
</div>

<br><br>

<%= render partial: "shared/reskills", locals: {skill: @user_resume_reskills} %>