<div class= "uk-container uk-background-muted uk-padding uk-panel" style="padding: 50px;margin-top: 150px;">
    <h2> Add your Project here </h2><br>
        <%= form_for @user_resume_otherproject do |f| %>

             <%= f.hidden_field :resume_id, :value => @user_resume %>

            <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder="Name of the project"
                <%= f.text_field :name, :required => true %>
            </div>
            <br>
            Description <elm style= "color: red;">(NOTE :- ALL FOUR LINE MANDATORY)</elm>
        
            <div class="uk-form-controls">
                <input class="uk-input" type="text"
                <%= f.text_field :desc1, :required => true %>
            </div>
            <div class="uk-form-controls">
                <input class="uk-input" type="text"
                <%= f.text_field :desc2, :required => true %>
            </div>
            <div class="uk-form-controls">
                <input class="uk-input" type="text"
                <%= f.text_field :desc3, :required => true %>
            </div>
            <div class="uk-form-controls">
                <input class="uk-input" type="text"
                <%= f.text_field :desc4, :required => true %>
            </div>

             
             <br>
            <button class="uk-button uk-button-default"
                 <%= submit_tag "Add" %> UPDATE
             </button>
            <% end %>
</div>

