  
<div class="uk-container" style="margin-bottom: 10px;">
      <h1 class="uk-article-title" style="font-size: 24px;margin-bottom:10px;"><b>PROJECTS</b></h1>
    <% @user_resume_otherprojects.each do |t| %>
      <strong style="line-height: 0;"><%= t.name %></strong>
      <ul class="uk-list uk-list-bullet" style="margin-top: 0px;">
          <li><%= t.desc1 %></li>
          <li><%= t.desc2 %></li>
          <li><%= t.desc3 %></li>
          <li><%= t.desc4 %></li>
      </ul>
      <a <%= link_to "Edit", edit_otherproject_path(t) %></a> | 
      <a <%= link_to "Remove", otherproject_path(t), method: :delete, data: { confirm: "Are you sure?" } %></a> |     
    <% end %>
</div>
